/* This is a CSS comment */
#canvas {
    border:1px solid #000000;
}
.container{
    margin: 0 auto;
    width: 2000px;
    height: 1000px;
}
.blueblock {
    background-color: #0000FF;
    width: 700px;
    height: 500px;
}

.redstripe {
    float: right;
    height: 50px;
    width: 2000px;
    background-color: #db0c40
}

.whitestripe {
    float: right;
    height: 50px;
    width: 2000px;
    background-color: #FFFFFF
}